<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jdbdy.handle.mapper.MovieInfoMapper">
  <resultMap id="BaseResultMap" type="com.jdbdy.handle.entity.MovieInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="movie_id" jdbcType="VARCHAR" property="movieId" />
    <result column="movie_name" jdbcType="VARCHAR" property="movieName" />
    <result column="file_path" jdbcType="VARCHAR" property="filePath" />
    <result column="time_length" jdbcType="VARCHAR" property="timeLength" />
    <result column="mongdb" jdbcType="BIT" property="mongdb" />
  </resultMap>
</mapper>